# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# ENVIRONMENT VARIABLES
# =========================
.env

# =========================
# LOG FILES
# =========================
*.log
npm-debug.log*

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# EDITOR FILES
# =========================
.vscode/
.idea/

# =========================
# TEMP FILES
# =========================
temp/
tmp/

# =========================
# CACHE FILES
# =========================
.cache/

# =========================
# BUILD FILES
# =========================
dist/
build/

# =========================
# LOCAL UPLOADS
# =========================
uploads/